Repository HomerusJa/exp-coord: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, pyright

pytest:
  name: Run pytest before push
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-push

pyright:
  name: Run pyright before push
  entry: uv run pyright
  language: system
  pass_filenames: false
  stages:
  - pre-push

:recycle: Refactor type handling and improve response processing
  src/exp_coord/core/utils.py
  src/exp_coord/services/s3i/base/client.py
  src/exp_coord/services/s3i/base/error.py
  src/exp_coord/services/s3i/broker/client.py
  src/exp_coord/services/s3i/config/client.py
Due: pytest, pyright

:white_check_mark: Add tests for `_get_type_adapter` and move `import-linter` to the lint dependency group
  pyproject.toml
  tests/unit/core/test_utils.py
  uv.lock
Due: pytest, pyright

:sparkles: Added S3IConfigClient for person identity handling. Also changed the BaseS3IClient._send_request methods return type to the raw httpx.Response.
  src/exp_coord/core/config.py
  src/exp_coord/services/s3i/__init__.py
  src/exp_coord/services/s3i/base/__init__.py
  src/exp_coord/services/s3i/base/auth.py
  src/exp_coord/services/s3i/base/client.py
  src/exp_coord/services/s3i/base/error.py
  src/exp_coord/services/s3i/broker/__init__.py
  src/exp_coord/services/s3i/broker/client.py
  src/exp_coord/services/s3i/config/__init__.py
  src/exp_coord/services/s3i/config/client.py
  src/exp_coord/services/s3i/config/models.py
Due: pytest, pyright

:art: Add basic S3I importlinter config
  .importlinter
Due: none

:bug: Didnt adapt this code snippet to use response.content
  src/exp_coord/services/s3i/config/client.py
Due: pytest, pyright

:technologist: Adjust contract names
  .importlinter
Due: none

:construction: Some minor changes
  pyproject.toml
  src/exp_coord/cli/main.py
  src/exp_coord/services/s3i/base/error.py
  uv.lock
Due: pytest, pyright

:loud_sound: Remove warning when multiple logs are found as this is normal behavior
  src/exp_coord/services/s3i/base/processor.py
  tests/unit/services/s3i/test_processor.py
Due: pytest, pyright

:memo: Add note regarding a bug with unhashable types in _get_type_adapter
  src/exp_coord/core/utils.py
Due: pytest, pyright

:monocle_face: Explore the status events gathered at the first test run. In that process, also set up the marimo/data science infra
  notebooks/show_status_information.py
  pyproject.toml
  uv.lock
Due: pytest

:memo: Add TODO comments for missing "things" API endpoints
  src/exp_coord/services/s3i/config/client.py
Due: pytest, pyright

:zap: Add methods for Thing event queue management in S3I client
  src/exp_coord/services/s3i/base/client.py
  src/exp_coord/services/s3i/config/client.py
Due: pytest, pyright

:sparkles: Restructure `exp-coord s3i` command structure and create `exp-coord s3i event add-topic` subcommand
  docs/cli.md
  src/exp_coord/cli/s3i.py
  src/exp_coord/services/s3i/config/client.py
Due: pytest, pyright

:lipstick: Hide image data from __repr__ in NewImage model
  src/exp_coord/handlers/new_image.py
Due: pytest, pyright

:rotating_light: Silence pyright errors. TODO
  src/exp_coord/cli/s3i.py
Due: pytest, pyright

:bug: Add `takenAt` as an alias to NewImageEventContent
  src/exp_coord/handlers/new_image.py
Due: pytest, pyright

:bug: Fix image save and ensure ID assignment post-insertion
  src/exp_coord/db/gridfs.py
  src/exp_coord/handlers/new_image.py
Due: pytest, pyright

:arrow_up: Upgrade all dependencies
  uv.lock
Due: pytest

:sparkles: Create script for generating aruco markers
  scripts/.gitignore
  scripts/create_aruco_markers.py
Due: none

:sparkles: Add PDF generation to create_aruco_markers.py
  scripts/.gitignore
  scripts/create_aruco_markers.py
Due: none

:sparkles: Add capability to remove images after PDF was created and added flags
  scripts/create_aruco_markers.py
Due: none

:sparkles: Add event overview notebook
  notebooks/event_overview.py
  pyproject.toml
  uv.lock
Due: pytest

:loud_sound: Move to structlog
  README.md
  docs/cli.md
  pyproject.toml
  src/exp_coord/cli/main.py
  src/exp_coord/cli/run/__init__.py
  src/exp_coord/cli/run/forever.py
  src/exp_coord/cli/run/setup.py
  src/exp_coord/cli/run/single.py
  src/exp_coord/core/log.py
  src/exp_coord/core/utils.py
  src/exp_coord/db/connection.py
  src/exp_coord/handlers/status.py
  src/exp_coord/services/s3i/base/auth.py
  src/exp_coord/services/s3i/base/client.py
  src/exp_coord/services/s3i/base/processor.py
  src/exp_coord/services/s3i/config/client.py
  tests/conftest.py
  tests/unit/core/test_utils.py
  tests/unit/services/s3i/test_processor.py
  uv.lock
Due: pytest, pyright

:zap: Add caching for frame inspection when logging
  src/exp_coord/core/log.py
Due: pytest, pyright

:loud_sound: Incorporate the callsite in the log message
  src/exp_coord/core/log.py
Due: pytest, pyright

:art: Take advantage of structured logging
  src/exp_coord/cli/run/single.py
  src/exp_coord/db/connection.py
  src/exp_coord/handlers/status.py
  src/exp_coord/services/s3i/base/client.py
  src/exp_coord/services/s3i/base/processor.py
Due: pytest, pyright

:loud_sound: Unify the message content name to be content in logging
  src/exp_coord/cli/run/single.py
  src/exp_coord/handlers/status.py
  src/exp_coord/services/s3i/base/processor.py
Due: pytest, pyright

:white_check_mark: Update log checking in tests
  src/exp_coord/services/s3i/base/processor.py
  tests/unit/services/s3i/test_processor.py
Due: pytest, pyright

:loud_sound: Truncate `content` field in logs to 500 chars.
  src/exp_coord/core/log.py
  src/exp_coord/services/s3i/base/client.py
Due: pytest, pyright

:bug: Fix `@skip_execution_on_help_or_completion` so that it actually does what it is supposed to do (-:
  src/exp_coord/cli/main.py
  src/exp_coord/cli/utils.py
Due: pytest, pyright

:bug: Move `forever` subcommand of `exp-coord run` into it's own click
  docs/cli.md
  src/exp_coord/cli/run/__init__.py
  src/exp_coord/cli/run/forever.py
  src/exp_coord/cli/utils.py
Due: pytest, pyright

:bug: Fix `exp-coord run forever` requesting two separate tokens and unify naming
  src/exp_coord/services/s3i/base/auth.py
  tests/unit/services/s3i/test_auth.py
Due: pytest, pyright

:white_check_mark: Add proper tests for `@skip_execution_on_help_or_completion`
  tests/unit/cli/test_utils.py
Due: pytest, pyright

:white_check_mark: Add unit tests for logging utilities and reset structlog
  src/exp_coord/services/s3i/base/auth.py
  tests/conftest.py
  tests/unit/conftest.py
  tests/unit/core/test_log.py
Due: pytest, pyright

:sparkles: Add notebook analysing the first long run, add s3i get-token command, and update aruco_marker script
  docs/cli.md
  notebooks/ltr1_analysis.py
  scripts/create_aruco_markers.py
  src/exp_coord/cli/s3i.py
Due: pytest, pyright

:recycle: Move async_command decorator to utils file and make ggshield a pre-push hook
  .pre-commit-config.yaml
  src/exp_coord/cli/s3i.py
  src/exp_coord/cli/utils.py
Due: pytest, pyright

:sparkles: Add `exp-coord data image load-all` command
  docs/cli.md
  src/exp_coord/cli/data.py
  src/exp_coord/cli/main.py
Due: pytest, pyright

:green_heart: Add venv path so that pyright doesnt complain about missing imports
  pyproject.toml
Due: pytest

Path conditions:
  pytest: any of: ^(tests/.*\.py|src/.*\.py|uv\.lock|pyproject\.toml)$
  pyright: any of: ^(tests/.*\.py|src/.*\.py)$
